.best{

    gap: 0 28px !important;
}
.see__col {
 
background: #F8F9FA;
border-radius: 16px;
margin-left: 328px;

gap: 30px;
img{
    
    margin-left: auto;
    margin-right: auto;
}
}
.best__smart{
    max-width: 413px;
    width: 100%;
    padding: 41px 80px;
}